<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>tests21 parsing example 10 derived from parsing10.thtest</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"   data-thymol-load="parsing-data.js"></script>
<body>
<table>
  <tr th:each="c : ${caps}">
    <td th:text="${c['city']}">City</td>
    <td th:text="${c['country']}">Country</td>
  </tr>
  <!--/*-->
  <tr>
    <td>Another city</td>
    <td>Another country</td>
  </tr>
  <tr>
    <td>Another city more</td>
    <td>Another country more</td>
  </tr>
  <!--*/-->
</table>
</body>
</html>
<!--

<table>
  <TBODY><tr>
    <td>Madrid</td>
    <td>Spain</td>
  </tr>
  <tr>
    <td>Lisboa</td>
    <td>Portugal</td>
  </tr>
  <tr>
    <td>Paris</td>
    <td>France</td>
  </tr></TBODY>
</table>

-->