<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>tests21 parsing example 13 derived from parsing13.thtest</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="parsing-data.js"></script>
<body>
<div>
  <!--/*-->
    <div>
       you can see me only before thymeleaf processes me!
    </div>
  <!--*/-->
  <span>Something here!</span>
</div>
</body>
</html>
<!--

<div>
  <span>Something here!</span>
</div>

-->