<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>tests21 parsing example 08 derived from parsing08.thtest</title>
</head>
<script th:remove="all" type="text/javascript" src="../../../js/thymol.js" data-thymol-load="parsing-data.js"></script>
<body>
<div>
  <!--/* This code will be removed at thymeleaf parsing time! */-->
  <span>Something here!</span>
</div>
</body>
</html>
<!--

<div>
  <span>Something here!</span>
</div>

-->