<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>tests21 parsing example 06 derived from parsing06.thtest</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="parsing-data.js"></script>
<body>
<span>before</span>
<!--/*/
  <div th:text="${msg}">Some message here...</div>
/*/-->
<span>after</span>
</body>
</html>
<!--

<span>before</span>
  <div>Hello, World!</div>
<span>after</span>

-->