.center
{
	text-align: center !important;
}

.middle
{
	vertilca-align: middle !important;
}

.inputLabel
{
	width: 100px;
	text-align: right;
	padding-right: 20px;
	font-weight: bold !important;
}

.right
{
	text-align: right !important;
}

.left
{
	text-align: left !important;
}

#footerText
{
	text-align: center;
	position: fixed;  
	bottom: 0;
}