<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>Invocation list for thymeleaf tests</title>
	</head>
	<body>
			<p>remove cases<p>
			<ul>
				<li><a href="remove/remove01.html">Click here for "remove01.html"</a></li>
				<li><a href="remove/remove02.html">Click here for "remove02.html"</a></li>
				<li><a href="remove/remove03.html">Click here for "remove03.html"</a></li>
				<li><a href="remove/remove04.html">Click here for "remove04.html"</a></li>
				<li><a href="remove/remove05.html">Click here for "remove05.html"</a></li>
				<li><a href="remove/remove06.html">Click here for "remove06.html"</a></li>
			</ul>
			<br/><br/>
			<p>object cases<p>
			<ul>
				<li><a href="object/object01.html">Click here for "object01.html"</a></li>
				<li><a href="object/object02.html">Click here for "object02.html"</a></li>
				<li><a href="object/object03.html">Click here for "object03.html"</a></li>
				<li><a href="object/object04.html">Click here for "object04.html"</a></li>
			</ul>
			<br/><br/>
			<p>with cases<p>
			<ul>
				<li><a href="with/with01.html">Click here for "with01.html"</a></li>
				<li><a href="with/with02.html">Click here for "with02.html"</a></li>
				<li><a href="with/with03.html">Click here for "with03.html"</a></li>
			</ul>
			<br/><br/>
			<p>attr cases<p>
			<ul>
				<li><a href="attr/attr01.html">Click here for "attr01.html"</a></li>
				<li><a href="attr/attr02.html">Click here for "attr02.html"</a></li>
				<li><a href="attr/attr03.html">Click here for "attr03.html"</a></li>
				<li><a href="attr/attr04.html">Click here for "attr04.html"</a></li>
			</ul>
			<br/><br/>
			<p>switch cases<p>
			<ul>
				<li><a href="switch/switch01.html">Click here for "switch01.html"</a></li>
				<li><a href="switch/switch02.html">Click here for "switch02.html"</a></li>
				<li><a href="switch/switch03.html">Click here for "switch03.html"</a></li>
			</ul>
			<br/><br/>
			<p>if cases<p>
			<ul>
				<li><a href="if/if01.html">Click here for "if01.html"</a></li>
				<li><a href="if/if02.html">Click here for "if02.html"</a></li>
				<li><a href="if/if03.html">Click here for "if03.html"</a></li>
				<li><a href="if/if04.html">Click here for "if04.html"</a></li>
				<li><a href="if/if05.html">Click here for "if05.html"</a></li>
				<li><a href="if/if06.html">Click here for "if06.html"</a></li>
				<li><a href="if/if07.html">Click here for "if07.html"</a></li>
				<li><a href="if/if08.html">Click here for "if08.html"</a></li>
			</ul>
			<br/><br/>
			<p>each cases<p>
			<ul>
				<li><a href="each/each01.html">Click here for "each01.html"</a></li>
				<li><a href="each/each02.html">Click here for "each02.html"</a></li>
				<li><a href="each/each03.html">Click here for "each03.html"</a></li>
				<li><a href="each/each04.html">Click here for "each04.html"</a></li>
				<li><a href="each/each05.html">Click here for "each05.html"</a></li>
				<li><a href="each/each06.html">Click here for "each06.html"</a></li>
			</ul>
			<br/><br/>
			<p>include cases<p>
			<ul>
				<li><a href="include/include01.html">Click here for "include01.html"</a></li>
				<li><a href="include/include02.html">Click here for "include02.html"</a></li>
				<li><a href="include/include03.html">Click here for "include03.html"</a></li>
				<li><a href="include/include04.html">Click here for "include04.html"</a></li>
				<li><a href="include/include05.html">Click here for "include05.html"</a></li>
				<li><a href="include/include06.html">Click here for "include06.html"</a></li>
				<li><a href="include/include07.html">Click here for "include07.html"</a></li>
			</ul>
			<br/><br/>
			<p>replace cases<p>
			<ul>
				<li><a href="replace/replace01.html">Click here for "replace01.html"</a></li>
				<li><a href="replace/replace02.html">Click here for "replace02.html"</a></li>
				<li><a href="replace/replace03.html">Click here for "replace03.html"</a></li>
				<li><a href="replace/replace04.html">Click here for "replace04.html"</a></li>
				<li><a href="replace/replace05.html">Click here for "replace05.html"</a></li>
				<li><a href="replace/replace06.html">Click here for "replace06.html"</a></li>
				<li><a href="replace/replace07.html">Click here for "replace07.html"</a></li>
			</ul>
			<br/><br/>
			<p>expression cases<p>
			<ul>
				<li><a href="expression/expression17.html">Click here for "expression17.html"</a></li>
				<li><a href="expression/expression18.html">Click here for "expression18.html"</a></li>
				<li><a href="expression/expression19.html">Click here for "expression19.html"</a></li>
				<li><a href="expression/expression20.html">Click here for "expression20.html"</a></li>
			</ul>
			<br/><br/>
			<p><a href="../index.html">Back</a></p>
	</body>
</html>