<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>expression example 21</title>
</head>
<script th:remove="all" type="text/javascript" src="../../../js/thymol.js"></script>
<body>
<p th:text="0">...</p>
<p th:text="1">...</p>
<p th:text="1234">...</p>
<p th:text="-351">...</p>
<p th:text="-1000">...</p>
<p th:text="-0">...</p>
</body>
</html>
<!--

<p>0</p>
<p>1</p>
<p>1234</p>
<p>-351</p>
<p>-1000</p>
<p>0</p>

-->