<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>expression example 25</title>
</head>
<script th:remove="all" type="text/javascript" src="../../../js/thymol.js"></script>
<body>
<p th:text="0.0 * 2">...</p>
<p th:text="1.0 * 2">...</p>
<p th:text="1234.0 * 2">...</p>
<p th:text="-351.0 * 2">...</p>
<p th:text="-1000.0 * 2">...</p>
<p th:text="-0.0 * 2">...</p>
<p th:text="351.0 * -2">...</p>
<p th:text="1000.0 * -2">...</p>
<p th:text="0.0 * -2">...</p>
<p th:text="-351.0 * -2">...</p>
<p th:text="-1000.0 * -2">...</p>
<p th:text="-0.0 * -2">...</p>
</body>
</html>
<!--

<p>0.0</p>
<p>2.0</p>
<p>2468.0</p>
<p>-702.0</p>
<p>-2000.0</p>
<p>0.0</p>
<p>-702.0</p>
<p>-2000.0</p>
<p>0.0</p>
<p>702.0</p>
<p>2000.0</p>
<p>0.0</p>

-->