<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>expression example 19</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"   data-thymol-load="expression-18-data.js"></script>
<body>

<p th:text="${bb1} ?: ${bc1}">...</p>
<p th:text="${bb2} ?: (${bb1} ?: ${bc1})">...</p>
<p th:text="${bb1} ?: ${bc2}">...</p>
<p th:text="${bb2} ?: (${bb1} ?: ${bc2})">...</p>

</body>
</html>
<!--

<p>not null</p>
<p>not null</p>
<p>not null</p>
<p>not null</p>

-->