<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>expression example 29</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"  ></script>
<body>
<p th:text="0.02 - 2.004">...</p>
<p th:text="1.02 - 2.004">...</p>
<p th:text="1234.02 - 2.004">...</p>
<p th:text="-351.02 - 2.004">...</p>
<p th:text="-1000.02 - 2.004">...</p>
<p th:text="-0.02 - 2.004">...</p>
</body>
</html>
<!--

<p>-1.984</p>
<p>-0.984</p>
<p>1232.016</p>
<p>-353.024</p>
<p>-1002.024</p>
<p>-2.024</p>

-->