<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>expression example 02</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="expression-02-data.js"></script>
<body>
<p th:text="${eValue1}/3.000">...</p>
<p th:text="${eValue1}/3.0">...</p>
<p th:text="${eValue1}/3">...</p>
<p th:text="${eValue1}/3.000000000000">...</p>
<p th:with="number=(${eValue2}/3.000)" th:text="${#numbers.formatDecimal(number, 0, 6)}">...</p>
<p th:with="number=(${eValue2}/3.0)" th:text="${#numbers.formatDecimal(number, 0, 6)}">...</p>
<p th:with="number=(${eValue2}/3)" th:text="${#numbers.formatDecimal(number, 0, 6)}">...</p>
</body>
</html>
<!--

<p>33.3333333333</p>
<p>33.3333333333</p>
<p>33.3333333333</p>
<p>33.333333333333</p>
<p>12.465812</p>
<p>12.465812</p>
<p>12.465812</p>

-->