<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>expression example 23</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"></script>
<script th:remove="all" type="text/javascript">var thDebug=true;</script>
<body>
<p th:text="0.0">...</p>
<p th:text="1.0">...</p>
<p th:text="1234.0">...</p>
<p th:text="-351.0">...</p>
<p th:text="-1000.0">...</p>
<p th:text="-0.0">...</p>
</body>
</html>
<!--

<p>0.0</p>
<p>1.0</p>
<p>1234.0</p>
<p>-351.0</p>
<p>-1000.0</p>
<p>0.0</p>

-->