<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>expression example 39</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"></script>
<script th:remove="all" type="text/javascript">
var	thVars = [        
     	   	  	["onevar1",				false]
       ];
var thDebug = true;       
</script>
<body>
<p th:text="not (5.3 gt 3)">...</p>
<p th:text="2 gt 1 and not (5.3 lt 3)">...</p>
<p th:text="2 gt 1 and (not ${onevar1})">...</p>
<p th:text="2 lt 1 and (not ${onevar1})">...</p>
</body>
</html>
<!--

<p>false</p>
<p>true</p>
<p>true</p>
<p>false</p>

-->