<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>expression example 12</title>
</head>
<script th:remove="all" type="text/javascript" src="../../../js/thymol.js" data-thymol-load="application-data.js"></script>
<script th:remove="all" type="text/javascript">
	thDebug=true;
</script>
<body>
<p th:text="${application.a.class.name}">...</p>
<p th:text="${application.a}">...</p>
<p th:text="${application.b.class.name}">...</p>
<p th:text="${application.b}">...</p>
<p th:text="${application.c}">...</p>
</body>
</html>
<!--

<p>java.lang.String</p>
<p>Some text</p>
<p>java.lang.Integer</p>
<p>123</p>
<p>Hello</p>

-->