<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>numbers example 05</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"   data-thymol-load="numbers-common.js"></script>
<body>
<p th:text="${#numbers.formatInteger(onex, 5, 'NONE')}">...</p>
<p th:text="${#numbers.formatInteger(twox, 5, 'NONE')}">...</p>
<p th:text="${#numbers.formatInteger(threex, 5, 'NONE')}">...</p>
<p th:text="${#numbers.formatInteger(fourx, 5, 'NONE')}">...</p>
<p th:text="${#numbers.formatInteger(fivex, 5, 'NONE')}">...</p>
</body>
</html>
<!--

<p>00123</p>
<p>25412315412312412312545213</p>
<p>00000</p>
<p>00000</p>
<p>25412315412312412312545213</p>

-->