<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" /> 
	    <script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="issue15-data.js"></script>		
	</head>
	<body>
       <p th:include="layout/sample/template::yetAnoter+${tplName}"></p>
       <p th:include="layout/sample/template::yetAnoter+${tplName2}"></p>
	</body>
</html>