<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Stuff that goes in a title element</title>
	</head>
	<body  style="margin: 0px;">
		<table th:fragment="matrix">
			<tr><td>0,0</td><td>0,1</td></tr>
			<tr><td>1,0</td><td>1,1</td></tr>
		</table>
		<div th:unless="${!visited}">
			<span style="color: green;">do we know each other?</span>
			<div th:include="fter::copy">help help help!</div>
		</div>
	</body>
</html>


