<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Numbers example 03</title>
	</head>
	<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"></script>
	<script th:remove="all" type="text/javascript">        
	    thymol.ready(function () {
	    	thymol.configurePreExecution( function() {
	            thymol.applicationContext.createVariable("set1", ThSet.prototype.fromArray([10,20,30,40,50,60,70,80,90,100]) );
	    	});
	    });                             
	</script>
	
  	<body>
<!-- 	  <p>Array 1: <span th:text="${#numbers.arrayFormatInteger(#numbers.sequence(0,10),3)}">i</span></p> -->
	  <p>Array 2: <span th:text="${#numbers.setFormatDecimal(set1,5,'COMMA',5,'POINT')}">i</span></p>
	</body>
</html>