<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Numbers example 02</title>
	</head>
	<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"  ></script>
  	<body>
<!-- 	  <p>Array 1: <span th:text="${#numbers.arrayFormatInteger(#numbers.sequence(0,10),3)}">i</span></p> -->
	  <p>Array 2: <span th:text="${#numbers.arrayFormatDecimal(#numbers.sequence(1000,2000,1000/13),5,'COMMA',5,'POINT')}">i</span></p>
	</body>
</html>