<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>replace example 03</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"   data-thymol-load="replace-data.js"></script>
<body>
<table>
  <tr th:each="product : ${productList}" th:replace="product03 :: productTemplate"
      th:with="productName=${product.name}, productPrice=${product.price}" 
      th:remove="tag" />
</table>
</body>
</html>
<!--

<table>
  <tbody class="t">
    <tr class="my-class">
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

-->