<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>replace example 07</title>
</head>
<script th:remove="all" type="text/javascript" src="../../../js/thymol.js" data-thymol-load="replace-data.js"></script>
<body>
<div class="one" th:replace="frag03" th:each="i : ${#numbers.sequence(1,10)}">
  <p>Some text over here: <span th:text="${i}">i</span></p>
</div>
</body>
</html>
<!--

<p>
  This is a text <b>with some parts in bold</b> and a text: <span>Lorem ipsum blah blah (null)</span>.
</p>

-->