<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>Messages example 01</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="messages-data.js"></script>
	
<body>
<span th:text="#{msg01}">Some text</span><br/>
<span th:text="#{msg02('Jack Lettuce')}">Some text</span><br/>
<span th:text="#{msg02(${var01})}">Some text</span><br/>
<span th:text="#{msg02(${var02})}">Some text</span><br/>
<span th:text="#{msg02(${var01} + ' Jr.')}">Some text</span><br/>
<span th:text="#{msg02((${var01} + ' Jr.'))}">Some text</span><br/>
<span th:text="#{msg03(${var01} + ' Jr.', ${var03})}">Some text</span><br/>
<span th:text="#{msg03(${var01} + ' Jr.', 'Mars')}">Some text</span><br/>
<span th:text="#{msg03((${var01} + ' Jr.'), 'Mars')}">Some text</span><br/>
<span th:text="#{msg99(${var01})}">Some text</span><br/>
</body>

</html>

<!--


-->