<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>tests21 expression example 02 derived from expression02.thtest</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"  ></script>
<script th:remove="all" type="text/javascript">thDebug = true;</script>
<body>
<p th:text="null">...</p>

<p th:text="null == null">...</p>
<p th:text="'a' == null">...</p>
<p th:text="'a' != null">...</p>
<p th:text="${somevar} != null">...</p>
<p th:text="${somevar} == null">...</p>

<p th:text="null eq null">...</p>
<p th:text="'a' eq null">...</p>
<p th:text="'a' neq null">...</p>
<p th:text="'a' ne null">...</p>
<p th:text="${somevar} ne null">...</p>
<p th:text="${somevar} neq null">...</p>
<p th:text="${somevar} eq null">...</p>

</body>
</html>

<!--

<p></p>

<p>true</p>
<p>false</p>
<p>true</p>
<p>false</p>
<p>true</p>

<p>true</p>
<p>false</p>
<p>true</p>
<p>true</p>
<p>false</p>
<p>false</p>
<p>true</p>

-->