<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>tests21 expression example 02 derived from expression02.thtest</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"  ></script>
<script th:remove="all" type="text/javascript">thDebug = true;</script>
<body>

<p th:text="'stuff'">...</p>
<p th:text="nonsense">...</p>
<p th:text="A-a_Z-z_0-9[.]">...</p>

</body>
</html>

<!--

<p>stuff</p>
<p>nonsense</p>

-->