<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>if example 06</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"   data-thymol-load="if-data.js"></script>
<body>
Text before

<div th:if="${value18}"> 
    First value
</div>

<div th:if="${value19}"> 
    Second value
</div>

<div th:if="${value20}"> 
    Third value
</div>

<div th:if="${value21}"> 
    Fourth value
</div>

Text after 
</body>
<!-- 
Text before

<div> 
    First value
</div>

# Note 'N' and 'F' do NOT evaluate as false!
<div> 
    Second value
</div>

<div> 
    Third value
</div>

# Note 'N' and 'F' do NOT evaluate as false!
<div> 
    Fourth value
</div>

Text after 
-->
</html>