<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>tests21 include example 02 derived from include02.thtest</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"   data-thymol-load="include-data.js"></script>
<body>
<div>
  <p>This is some text</p>
  <div th:include=" ::frag">...</div>
  <p th:fragment="frag">This is some text</p>
</div>
</body>
</html>
<!--

<div>
  <p>This is some text</p>
  <div>This is some text</div>
  <p>This is some text</p>
</div>



-->