<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>remove example 04</title>
</head>
<script th:remove="all" type="text/javascript" src="../../../js/thymol.js" data-thymol-load="remove-data.js"></script>
<body>
<div th:object="${test}" th:remove="all-but-first">
Some text here that will not be removed because it is not an element, and
only elements will be removed!.
<!-- And we can even have a comment! -->
<span th:text="*{text}">Text</span>
<!-- This one goes after, but it is not an element so it won't be removed! -->
and some text here!
</div>
<div th:object="${test}" th:remove="all-but-first">
Some text here that will not be removed because it is not an element, and 
only elements will be removed!.
<!-- And we can even have a comment! -->
<span th:text="*{text}">Text</span>
<!-- This one goes after, but it is not an element so it won't be removed! -->
<span>Should dissapear!!</span> and some text here!
</div>
</body>
</html>