<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Sets example 01</title>
	</head>
	<script th:remove="all" type="text/javascript" src="../../../js/thymol.js" data-thymol-load="sets-data.js"></script>
	
  	<body>
		<p>Set 1: <span><!--/*/<th:block th:each="d,dStat : ${#sets.toSet(ar1)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
		<p>Set 2: <span><!--/*/<th:block th:each="d,dStat : ${#sets.toSet(ar2)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
		<p>Set 3: <span><!--/*/<th:block th:each="d,dStat : ${#sets.toSet(ar3)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
		<p>Set 4: <span><!--/*/<th:block th:each="d,dStat : ${#sets.toSet(ar4)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
		<p>Set 5: <span><!--/*/<th:block th:each="d,dStat : ${#sets.toSet(ar5)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
		<p>Set 6: <span><!--/*/<th:block th:each="d,dStat : ${#sets.toSet(ar6)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
		<p>Set 7: <span><!--/*/<th:block th:each="d,dStat : ${#sets.toSet(ar7)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
		<p>Set 8: <span><!--/*/<th:block th:each="d,dStat : ${#sets.toSet(ar8)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
		<p>Set 9: <span><!--/*/<th:block th:each="d,dStat : ${#sets.toSet(ar9)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
		<p>Set 10: <span><!--/*/<th:block th:each="d,dStat : ${#sets.toSet(ar10)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
		<p>Set 11: <span><!--/*/<th:block th:each="d,dStat : ${#sets.toSet(ar11)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
		<p>Set 12: <span><!--/*/<th:block th:each="d,dStat : ${#sets.toSet(ar12)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
		<p>Set 13: <span><!--/*/<th:block th:each="d,dStat : ${#sets.toSet(ar13)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
		<p>Set 14: <span><!--/*/<th:block th:each="d,dStat : ${#sets.toSet(ar14)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
		<p>Set 15: <span><!--/*/<th:block th:each="d,dStat : ${#sets.toSet(ar15)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
		<p>Set 16: <span><!--/*/<th:block th:each="d,dStat : ${#sets.toSet(ar16)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
		<p>Set 17: <span><!--/*/<th:block th:each="d,dStat : ${#sets.toSet(ar17)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
		<p>Set 17: <span><!--/*/<th:block th:each="d,dStat : ${#sets.toSet(ao1)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
	</body>

</html>

<!--


-->