<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Sets example 03</title>
	</head>
	<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="sets-data.js"></script>
	
  	<body>
		<p th:text="'check as7: '+${#sets.isEmpty(as7)}">...</p>
		<p th:text="'check as8: '+${#sets.isEmpty(as8)}">...</p>
		<p th:text="'check as9: '+${#sets.isEmpty(as9)}">...</p>
	</body>

</html>

<!--


-->