<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Sets example 02</title>
	</head>
	<script th:remove="all" type="text/javascript" src="../../../js/thymol.js" data-thymol-load="sets-data.js"></script>
	
  	<body>
		<p th:text="'size of as1: '+${#sets.size(as1)}">...</p>
		<p th:text="'size of as2: '+${#sets.size(as2)}">...</p>
		<p th:text="'size of as3: '+${#sets.size(as3)}">...</p>
		<p th:text="'size of as4: '+${#sets.size(as4)}">...</p>
		<p th:text="'size of as5: '+${#sets.size(as5)}">...</p>
		<p th:text="'size of as6: '+${#sets.size(as6)}">...</p>
		<p th:text="'size of as7: '+${#sets.size(as7)}">...</p>
		<p th:text="'size of as8: '+${#sets.size(as8)}">...</p>
		<p th:text="'size of as9: '+${#sets.size(as9)}">...</p>
		<p th:text="'size of as10: '+${#sets.size(as10)}">...</p>
		<p th:text="'size of as11: '+${#sets.size(as11)}">...</p>
		<p th:text="'size of as12: '+${#sets.size(as12)}">...</p>
		<p th:text="'size of as13: '+${#sets.size(as13)}">...</p>
		<p th:text="'size of as14: '+${#sets.size(as14)}">...</p>
		<p th:text="'size of as15: '+${#sets.size(as15)}">...</p>
		<p th:text="'size of as16: '+${#sets.size(as16)}">...</p>
		<p th:text="'size of as17: '+${#sets.size(as17)}">...</p>
	</body>

</html>

<!--


-->