<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Calendars example 10</title>
	</head>
	<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"   data-thymol-load="calendars-data.js"></script>
	
  	<body>
		<p th:text="${#calendars.dayOfWeekName(calendar0)}">...</p>
		<p th:text="${#calendars.dayOfWeekName(calendar1)}">...</p>
		<p th:text="${#calendars.dayOfWeekName(calendar2)}">...</p>
		<p th:text="${#calendars.dayOfWeekName(calendar3)}">...</p>
		<p th:text="${#calendars.dayOfWeekName(calendar4)}">...</p>
		<p>Array of days of week: <span><!--/*/<th:block th:each="d,dStat : ${#calendars.arrayDayOfWeekName(calendarArray)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>		 
		<p>Set of days of week: <span id="sort"><!--/*/<th:block th:each="d,dStat : ${#calendars.setDayOfWeekName(calendarSet)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
	</body>

</html>

<!--

<p>1732-12/10</p>

-->