<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Calendars example 05</title>
	</head>
	<script th:remove="all" type="text/javascript" src="../../../js/thymol.js" data-thymol-load="calendars-data.js"></script>
	
  	<body>
		<p th:text="${#calendars.month(calendar0)}">...</p>
		<p th:text="${#calendars.month(calendar1)}">...</p>
		<p th:text="${#calendars.month(calendar2)}">...</p>
		<p th:text="${#calendars.month(calendar3)}">...</p>
		<p th:text="${#calendars.month(calendar4)}">...</p>
		<p>Array of months: <span><!--/*/<th:block th:each="d,dStat : ${#calendars.arrayMonth(calendarArray)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>		 
		<p>Set of months: <span id="sort"><!--/*/<th:block th:each="d,dStat : ${#calendars.setMonth(calendarSet)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
	</body>

</html>

<!--

<p>1732-12/10</p>

-->