<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Bools example 02</title>
	</head>
	<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="bools-data.js"></script>
	
  	<body>
		<p th:text="${#bools.isFalse(null)}">...</p>
		<p th:text="${#bools.isFalse('')}">...</p>
		<p th:text="${#bools.isFalse('0')}">...</p>
		<p th:text="${#bools.isFalse(fred)}">...</p>
		<p th:text="${#bools.isFalse(bx1)}">...</p>
		<p th:text="${#bools.isFalse(bx2)}">...</p>
		<p th:text="${#bools.isFalse(bx3)}">...</p>
		<p th:text="${#bools.isFalse(bx4)}">...</p>
		<p th:text="${#bools.isFalse(bx5)}">...</p>
		<p th:text="${#bools.isFalse(bx6)}">...</p>
		<p>Array of booleans: <span><!--/*/<th:block th:each="d,dStat : ${#bools.arrayIsFalse(bxArray)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
		<p>Set of booleans: <span id="sort"><!--/*/<th:block th:each="d,dStat : ${#bools.setIsFalse(bxSet)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
	</body>

</html>

<!--


-->