<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <title>Spring Thyme Seed Starter Manager Ex1</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" media="all" href="/css/stsm.css" th:href="@{/css/stsm.css}"/>
  </head>

  <script type="text/javascript" src="${thInstall}/thymol.js"   data-thymol-load="js/field-attribute.js,js/fields-object.js,js/setThPath.js,js/stsm-common.js,js/stsm1.js"></script>

  <body th:replace="common/stsm-common::body"/>

</html>