<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <title>Spring Thyme Seed Starter Manager HTML5 Ex3</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" type="text/css" media="all" href="/css/stsm.css" data-th-href="@{/css/stsm.css}"/>
  </head>

  <script type="text/javascript" src="../../../../../thymol.js" data-thymol-load="js/field-attribute.js,js/fields-object.js,js/setThPath.js,js/stsm-common.js,js/stsm3.js"></script>

  <body data-th-replace="common/stsm-common-html5::body"/>

</html>