<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>tests21 link example 04 derived from link04.thtest</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="link-data.js"></script>
<body>
<a th:href="@{/order/details('one )parameter'='one(( value')}">go</a>
</body>
</html>
<!--

<a href="/testing/order/details?one+%29parameter=one%28%28+value">go</a>

-->