<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>(thymol original) link example 01a special test for URL fragment identifiers</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="link-data.js"></script>
<body>
<a th:href="@{/home#all_info(action='show')}">go</a>
</body>
</html>
<!--

<a href="/home?action=show#all_info">go</a>

-->