<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>tests domselector example 09 derived from domselector09.thtest</title>
</head>
<script th:remove="all" type="text/javascript" src="../../../js/thymol.js"></script>
<body>
<div th:replace="domcommon::div[@id='breadcrumb']">...</div>
</body>
</html>
<!--

<div id="breadcrumb">
   <a href="index.html">thymeleaf</a>
   ::
   <span class="current">features</span>
</div>

-->