<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>tests domselector example 04 derived from domselector04.thtest</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"  ></script>
<body>
<div th:replace="domcommon:://div/a">...</div>
</body>
</html>
<!--

<a href="index.html" title="Thymeleaf home"><img src="images/thymeleaflogonameverysmall.png" class="logo" alt="Thymeleaf Template Engine"/></a><a href="index.html">thymeleaf</a>
-->