<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>tests21 replace example 05a</title>
</head>
<script th:remove="all" type="text/javascript" src="../../../js/thymol.js" data-thymol-load="replace-data.js"></script>
<body>
<div>
  <p>This is some text before</p>
  <div th:replace="templates/template-1 :: frag-1a (msg='Message for you!')">...</div>
  <p>This is some text after</p>
</div>
</body>
</html>
<!--

<div>
  <p>This is some text before</p>
  <footer>
    <p>Message for you!</p>
  </footer>
  <p>This is some text after</p>
</div>

-->