<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>root example 01</title>
</head>
<script th:remove="all" type="text/javascript" src="../../../../js/thymol.js"></script>
<script th:remove="all" type="text/javascript">
var	thVars = [        
     	   	  	["a",	"Letter A" ],
       	   	  	["b",	"Letter B" ]
       ];
var thDebug = true;       
</script>
<body>
<p th:text="${#root.a}">...</p>
<p th:text="${#root.b}">...</p>
</body>
</html>
<!--
<p th:text="${#root} ? 'root exists' : 'root does not exist'">...</p>
<p th:text="${#root.class == null}">...</p>

<p>root exists</p>
<p>true</p>
<p>Letter A</p>
<p>Letter B</p>

-->