<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>simple example</title>
</head>
<script th:remove="all" type="text/javascript" src="../../../js/thymol.js" data-thymol-load="setThPath.js"></script>
<body>
  <p><img src="../../images/gtvglogo.png" th:attr="src=@{/images/gtvglogo.png},title=#{logo},alt=#{logo}"/></p>
  <p><img src="../../images/gtvglogo.png" th:src="@{/images/gtvglogo.png}" th:title="#{logo}" th:alt="#{logo}"/></p>
  <p><img src="../../images/gtvglogo.png" th:src="@{/images/gtvglogo.png}" th:alt-title="#{logo}"/></p>
  <p th:text="${logo}">Thymol Paired Attribute Test Page</p>
  <p><a href="index.html">Back</a></p>
</body>
</html>
