<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>tests21 domselector example 34 derived from domselector34.thtest</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"  ></script>
<body>
<div th:replace="domcommon::a[href!='index.html' and href!='documentation.html']">...</div>
</body>
</html>
<!--

<a href="index2.html">thymeleaf</a>

-->