<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>tests21 domselector example 25 derived from domselector25.thtest</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"  ></script>
<body>
<div th:replace="domcommon::ul/[@class='not-important']">...</div>
</body>
</html>
<!--

<li class="last not-important">Extremely extensible: can be used as a <i>template engine framework</i> if needed.</li>

-->