<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>tests21 domselector example 19 derived from domselector19.thtest</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"></script>
<body>
<div th:replace="domcommon::li[@class='five']">...</div>
</body>
</html>
<!--

<li class="four five">Two dialects available out-of-the-box: <i>Standard</i> and <i>SpringStandard</i> (for Spring MVC apps, same syntax as <i>Standard</i>).</li>

-->