<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>tests21 domselector example 17 derived from domselector17.thtest</title>
</head>
<script th:remove="all" type="text/javascript" src="../../../js/thymol.js"></script>
<body>
<div th:replace="domcommon::li#xml">...</div>
</body>
</html>
<!--

<li id="xml" class="important"><b>XML</b>: validating against a DTD or not.</li>

-->