<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Lists example 06</title>
	</head>
	<script th:remove="all" type="text/javascript" src="../../../js/thymol.js" data-thymol-load="lists-data.js"></script>
	
  	<body>
		<p th:text="${#lists.sort(ar1List,intOrder)}">...</p>
		<p th:text="${#lists.sort(ar5List)}">...</p>
		<p th:text="${#lists.sort(ar6List)}">...</p>

		<p th:text="${#lists.sort(ar8List)}">...</p>
		<p th:text="${#lists.sort(ar8List,intOrder)}">...</p>

		<p th:text="${#lists.sort(ar9List,intOrder)}">...</p>
		<p th:text="${#lists.sort(ar10List,intOrder)}">...</p>
		<p th:text="${#lists.sort(ar11List)}">...</p>
		<p th:text="${#lists.sort(ar12List)}">...</p>
	</body>

</html>

<!--


-->