<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Lists example 04</title>
	</head>
	<script th:remove="all" type="text/javascript" src="../../../js/thymol.js" data-thymol-load="lists-data.js"></script>
	
  	<body>
		<p th:text="${#lists.containsAll(ar1List,ar9List)}">...</p>
		<p th:text="${#lists.containsAll(ar5List,ar11List)}">...</p>
		<p th:text="${#lists.containsAll(ar10List,ar1List)}">...</p>
		<p th:text="${#lists.containsAll(ar12List,ar5List)}">...</p>		
		<p th:text="${#lists.containsAll(ar9List,ar1List)}">...</p>
		<p th:text="${#lists.containsAll(ar11List,ar5List)}">...</p>
		<p th:text="${#lists.containsAll(ar1List,ar10List)}">...</p>
		<p th:text="${#lists.containsAll(ar5List,ar12List)}">...</p>		
		<p th:text="${#lists.containsAll(ar1List,as9)}">...</p>
		<p th:text="${#lists.containsAll(ar5List,as11)}">...</p>
		<p th:text="${#lists.containsAll(ar10List,as1)}">...</p>
		<p th:text="${#lists.containsAll(ar12List,as5)}">...</p>		
		<p th:text="${#lists.containsAll(ar9List,as1)}">...</p>
		<p th:text="${#lists.containsAll(ar11List,as5)}">...</p>
		<p th:text="${#lists.containsAll(ar1List,as10)}">...</p>
		<p th:text="${#lists.containsAll(ar5List,as12)}">...</p>
	</body>

</html>

<!--


-->