<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>vars example 02</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"></script>
<script th:remove="all" type="text/javascript">
var	thVars = [        
     	   	  	["class",	"This is a class text" ]
       ];
var thDebug = true;       
</script>
<body>
<p th:text="${#vars.class}">...</p>
</body>
</html>
<!-- 

<p th:text="${class}">...</p>

<p>This is a class text</p>
<p>This is a class text</p>

 -->