<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>vars example 01</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"  ></script>
<script th:remove="all" type="text/javascript">
var	thVars = [        
     	   	  	["a",	"Letter A" ],
       	   	  	["b",	"Letter B" ]
       ];
var thDebug = true;       
</script>
<body>
<p th:text="${#vars.a}">...</p>
<p th:text="${#vars.b}">...</p>
</body>
</html>
<!--

<p th:text="${#vars.class == null}">...</p>
<p th:text="${#vars} ? 'vars exists' : 'vars does not exist'">...</p>

<p>vars exists</p>
<p>true</p>
<p>Letter A</p>
<p>Letter B</p>

-->