<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>tests21 literalsubst example 07 derived from literalsubst07.thtest</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="literalsubst-data.js"></script>
<body>
<span th:text="'|' + ${msg} + '|'">...</span>
<span th:text="'\'|\\' + ${msg} + '|'">...</span>
<span th:attr="data-validator-message=${msg}+'|'+${msg}">...</span>
</body>
</html>
<!--

<span>|Hello, World!|</span>
<span>&#39;|\\Hello, World!|</span>
<span data-validator-message="Hello, World!|Hello, World!">...</span>

-->