<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>tests21 literalsubst example 02 derived from literalsubst02.thtest</title>
</head>
<script type="text/javascript" src="../../../js/thymol.js" data-thymol-load="literalsubst-data.js"></script>
<body>
<p th:text="|John Apricot's message is: ${onevar}, ${twovar}!|">...</p>
</body>
</html>
<!--

<p>John Apricot&#39;s message is: Hello, World!</p>

-->