<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>attr example 04</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="attr-data.js"></script>
<body>
<option th:attr="selected=${sel}">..</option>
<option th:attr="multiple=${sel}">..</option>
<option th:attr="selected=!${sel}">..</option>
<option th:attr="multiple=!${sel}">..</option>
<option th:attr="selected='a'">..</option>
<option th:attr="multiple='a'">..</option>
<option th:attr="selected=''">..</option>
<option th:attr="multiple=''">..</option>
<option th:attr="selected=${null}">..</option>
<option th:attr="multiple=${null}">..</option>
</body>
</html>
<!--
%OUTPUT
<option selected="selected">..</option>
<option multiple="multiple">..</option>
<option>..</option>
<option>..</option>
<option selected="selected">..</option>
<option multiple="multiple">..</option>
<option selected="selected">..</option>
<option multiple="multiple">..</option>
<option>..</option>
<option>..</option>
-->