<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>inline example 11</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="inline-data.js"></script>
<body>
<script type="text/javascript" th:inline="javascript">
    /* <![CDATA[ */
            fooUrl:/*[['/fooservice/foo/']]*/   "http://10.200.55.223/fooservice/foo/",
            barUrl:/*[['/barservice/bar/']]*/   "http://10.200.55.223/barservice/bar/"
    /* ]]> */
</script>
</body>
</html>
<!-- 

<script type="text/javascript">
    /* <![CDATA[ */
            fooUrl:'/fooservice/foo/',
            barUrl:'/barservice/bar/'
    /* ]]> */
</script>

 -->