<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>inline example 01</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"   data-thymol-load="inline-data.js"></script>
<body>
<script th:inline="javascript"> 
    var foo1 = /*[[${foo}]]*/ 'hello!'; 
    var foo2 = /*[[${foo}]]*/ 'hiya'; // some comment like "will be replaced by thymeleaf"
</script> 
</body>
</html>
<!-- 

<script> 
    var foo1 = 'fooo!';
    var foo2 = 'fooo!'; // some comment like "will be replaced by thymeleaf"
</script>

 -->