<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>inline example 10</title>
</head>
<script th:remove="all" type="text/javascript" src="../../../js/thymol.js" data-thymol-load="inline-data.js"></script>
<body>
<script th:inline="javascript">
  var data = {
    id: /*[[${foo}]]*/ '12345678-1234-1234-1234-1234567890ab'
  };
</script>
</body>
</html>
<!-- 

<script> 
  var data = {
    id: 'fooo!'
  };
</script> 

 -->