<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Arrays example 05</title>
	</head>
	<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"   data-thymol-load="arrays-data.js"></script>
	
  	<body>
		<p th:text="${#arrays.length(ar1)}">...</p>
		<p th:text="${#arrays.isEmpty(ar6)}">...</p>
		<p th:text="${#arrays.isEmpty(ar8)}">...</p>
	</body>

</html>

<!--


-->