<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Arrays example 04</title>
	</head>
	<script th:remove="all" type="text/javascript" src="../../../js/thymol.js" data-thymol-load="arrays-data.js"></script>
	
  	<body>
		<p>Array 7 ('boolean'): <span><!--/*/<th:block th:each="d,dStat : ${#arrays.toBooleanArray(ar7)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>

		<p>Set 7 ('boolean'): <span><!--/*/<th:block th:each="d,dStat : ${#arrays.toBooleanArray(as7)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
	</body>

</html>

<!--


-->