<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Invocation list for extended Thymeleaf Attribute example</title>
	</head>
	<body>
		<div style="color: red;">
			<p><a href="ex1.html?path=alternative&amp;page=table.html&amp;full=alternative/table.html">Click here for ex1</a></p>
			<p><a href="ex2.html?trueValue=true&amp;falseValue=false">Click here for ex2</a></p>
 			<p><a href="ex3.html?logo=Copyright%20%26copy%3B%20The%20THYMELEAF%20Team">Click here for ex3</a></p>
 			<p><a href="ex4.html?home.welcome=Welcome%20to%20our%20%3Cb%3Efantastic%3C/b%3E%20grocery%20store!">Click here for ex4</a></p>
		</div>
		<p><a href="../../index.html">Back</a></p>
	</body>
</html>