
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>refs example 02</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="ref-data.js"></script>
<body>
Text before
<div th:text="${numList[4]}">
    Nothing to show from numList
</div>
<div th:text="${productList2[9].name}">
    Nothing to show from productList2
</div>
Text after 
</body>
</html>
<!-- 

Text before
1
Pineapple
Text after 

 -->


