<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>tests21 assert example 01 derived from assert01.thtest</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="assert-data.js"></script>
<body>
<div th:assert="${not_onevar01}">...</div>
</body>
</html>
<!--

%EXCEPTION org.thymeleaf.exceptions.TemplateAssertionException
%EXCEPTION_MESSAGE_PATTERN .*?\$\{onevar\}.*?line 1.*?

-->