<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>tests21 assert example 05 derived from assert05.thtest</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="assert-data.js"></script>
<body>
<div>
  <div th:assert="${onevar01},(${twovar01} &lt; 10)" class="a">tururu</div>
</div>
</body>
</html>
<!--

%EXCEPTION org.thymeleaf.exceptions.TemplateAssertionException
%EXCEPTION_MESSAGE_PATTERN .*?\$\{twovar\}.*?line 2.*?

-->