<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>link example 01 derived from link01.thtest</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="link-data.js"></script>
<body>
<a th:href="@{/url(a[0]='b')}">go</a>
<a th:href="@{${base_url2}(a[0]='b')}">go</a>
<a th:href="@{(${base_url2} + '/doit')(a[0]='b')}">go</a>
</body>
</html>
<!--

<a href="/url?a%5B0%5D=b">go</a>
<a href="/base/url?a%5B0%5D=b">go</a>
<a href="/base/url/doit?a%5B0%5D=b">go</a>

-->