<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>tests21 syntax example 02</title>
</head>
<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="syntax-data.js"></script>
<body>
<div>
  <p>This is some text</p>
  <div th:include="templates/template-1::frag2 (onevar='Fred Bloggs',twovar='has left the building')">...</div>
  <p>This is some text</p>
</div>
</body>
</html>
<!--

<div>
  <p>This is some text</p>
  <div>
    <p>Joe Bloggs + was here!</p>
  </div>
  <p>This is some text</p>
</div>


-->