<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:data="http://www.thymoljs.org/dialects/data">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="${thInstall}/thymol.js"></script>
    <script type="text/javascript" src="locale-example.js"></script>
    <script type="text/javascript">thLocale="gl";</script>
</head>
<body>
<div th:text="#{msg08('sausage')}">nothing to say</div>
<div th:text="#{msg07('Harold Wilson','Downing St','beer &amp; sandwiches')}">nothing to say</div>
</body>
</html>