<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Strings example 25</title>
	</head>
	<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="strings-data.js"></script>
	
  	<body>
		<p th:text="${#strings.toUpperCase(p1)}">...</p>
		<p th:text="${#strings.toUpperCase(p2)}">...</p>
		<p th:text="${#strings.toUpperCase(p3)}">...</p>
		<p th:text="${#strings.toUpperCase(p4)}">...</p>
		<p>Array of strings: <span><!--/*/<th:block th:each="d,dStat : ${#strings.arrayToUpperCase(pArray)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>		 
		<p>Set of strings: <span id="sort"><!--/*/<th:block th:each="d,dStat : ${#strings.setToUpperCase(pSet)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
	</body>

</html>

<!--

		<p>HELLO WORLD!</p>
		<p>BONJOUR TOUT LE MONDE!</p>
		<p>HOLA MUNDO!</p>
		<p>KAIXO MUNDUA!</p>
		<p>Array of strings: <span>BONJOUR TOUT LE MONDE!,HELLO WORLD!,HOLA MUNDO!,KAIXO MUNDUA!</span></p>		 
		<p>Set of strings: <span id="sort">BONJOUR TOUT LE MONDE!,HELLO WORLD!,HOLA MUNDO!,KAIXO MUNDUA!</span></p>
	
-->