<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Strings example 14</title>
	</head>
	<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="strings-data.js"></script>
	
  	<body>
		<p th:text="${#strings.repeat('Happy! ',12)}">...</p>
		<p th:text="${#strings.repeat('.',12)}">...</p>
		<p th:text="${#strings.repeat('',3)}">...</p>
		<p th:text="${#strings.repeat('.',-3)}">...</p>
	</body>

</html>

<!--

		<p>true</p>
		<p>false</p>
		<p>true</p>
		<p>true</p>
		<p>Array of strings: <span>true,true,true,true</span></p>		 
		<p>Set of strings: <span id="sort">true</span></p>

-->