<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Strings example 04</title>
	</head>
	<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="strings-data.js"></script>
	
  	<body>
		<p th:text="${#strings.equalsIgnoreCase(p1,'Hello world!')}">...</p>
		<p th:text="${#strings.equalsIgnoreCase(p2,'Bonjour tout le Monde!')}">...</p>
		<p th:text="${#strings.equalsIgnoreCase(p3,'Hola mundo!')}">...</p>
		<p th:text="${#strings.equalsIgnoreCase(p4,'Kaixo Mundua!')}">...</p>
	</body>

</html>

<!--

		<p>true</p>
		<p>true</p>
		<p>true</p>
		<p>true</p>

-->