<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Strings example 32</title>
	</head>
	<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"   data-thymol-load="strings-data.js"></script>
	
  	<body>
		<p th:text="${#strings.escapeXml(xs1)}">...</p>
		<p th:text="${#strings.escapeXml(xs2)}">...</p>
		<p th:text="${#strings.escapeXml(xs3)}">...</p>
		<p th:text="${#strings.escapeXml(xs4)}">...</p>
		<p>Array of strings: <span><!--/*/<th:block th:each="d,dStat : ${#strings.arrayEscapeXml(xsArray)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>		 
		<p>Set of strings: <span id="sort"><!--/*/<th:block th:each="d,dStat : ${#strings.setEscapeXml(xsSet)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
	</body>

</html>

<!--

-->