<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Strings example 13</title>
	</head>
	<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="strings-data.js"></script>
	
  	<body>
		<p th:text="${#strings.prepend(p1,'A Big ')}">...</p>
		<p th:text="${#strings.prepend(p2,'Un Grand ')}">...</p>
		<p th:text="${#strings.prepend(p3,'Una Gran ')}">...</p>
		<p th:text="${#strings.prepend(p4,'')}">...</p>
		<p>Array of strings: <span><!--/*/<th:block th:each="d,dStat : ${#strings.arrayPrepend(pArray,'**')}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>		 
 		<p>Set of strings: <span><!--/*/<th:block th:each="d,dStat : ${#strings.setPrepend(pSet,'$$')}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
	</body>

</html>

<!--

		<p>A Big Hello world!</p>
		<p>Un Grand Bonjour tout le monde!</p>
		<p>Una Gran Hola mundo!</p>
		<p>Kaixo mundua!</p>
		<p>Array of strings: <span>**Bonjour tout le monde!,**Hello world!,**Hola mundo!,**Kaixo mundua!</span></p>		 
 		<p>Set of strings: <span>$$Bonjour tout le monde!,$$Hello world!,$$Hola mundo!,$$Kaixo mundua!</span></p>

-->