<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Strings example 23</title>
	</head>
	<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js"   data-thymol-load="strings-data.js"></script>
	
  	<body>
		<p th:text="${#strings.replace(p1,'o','O')}">...</p>
		<p th:text="${#strings.replace(p2,' ','')}">...</p>
		<p th:text="${#strings.replace(p3,'X','!')}">...</p>
		<p th:text="${#strings.replace('62E*&harr;\\(RH*EJ\'H09&euro;_H@D&quot;G+_$?B&lt;\\&pound;*%\\)','*','\'')}">...</p>
		<p th:text="${#strings.replace('62E*&harr;\\(RH*EJ\'H09&euro;_H@D&quot;G+_$?B&lt;\\&pound;*%\\)','*','')}">...</p>
		<p>Array of strings: <span><!--/*/<th:block th:each="d,dStat : ${#strings.arrayReplace(pArray,'o','O')}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>		 
		<p>Set of strings: <span id="sort"><!--/*/<th:block th:each="d,dStat : ${#strings.setReplace(pSet,' ','')}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
	</body>

</html>

<!--

	<p>HellO wOrld!</p>
	<p>Bonjourtoutlemonde!</p>
	<p>Hola mundo!</p>
	<p>62E'↔\\(RH'EJ'H09€_H@D"G+_$?B&lt;\\£'%\\)</p>
	<p>62E↔\\(RHEJ'H09€_H@D"G+_$?B&lt;\\£%\\)</p>
	<p>Array of strings: <span>BOnjOur tOut le mOnde!,HellO wOrld!,HOla mundO!,KaixO mundua!</span></p>		 
	<p>Set of strings: <span id="sort">Bonjourtoutlemonde!,Helloworld!,Holamundo!,Kaixomundua!</span></p>

-->