<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Strings example 02</title>
	</head>
	<script th:remove="all" type="text/javascript" src="../../../js/thymol.js" data-thymol-load="strings-data.js"></script>
	
  	<body>
		<p th:text="${#strings.abbreviate(p1,5)}">...</p>
		<p th:text="${#strings.abbreviate(p2,5)}">...</p>
		<p th:text="${#strings.abbreviate(p3,5)}">...</p>
		<p th:text="${#strings.abbreviate(p4,5)}">...</p>
		<p>Array of strings: <span><!--/*/<th:block th:each="d,dStat : ${#strings.arrayAbbreviate(pArray,5)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>		 
		<p>Set of strings: <span><!--/*/<th:block th:each="d,dStat : ${#strings.setAbbreviate(pSet,5)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
	</body>

</html>

<!--

		<p>He...</p>
		<p>Bo...</p>
		<p>Ho...</p>
		<p>Ka...</p>
		<p>Array of strings: <span>Bo...,He...,Ho...,Ka...</span></p>		 
		<p>Set of strings: <span>Bo...,He...,Ho...,Ka...</span></p>

-->