<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Strings example 20a</title>
	</head>
	<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="strings-data.js"></script>
	
  	<body>
		<p>Joined list of strings: <span th:text="${#strings.listJoin(pList,' and ')}">[empty]</span></p>
		<p>Another joined list of strings: <span th:text="${#strings.listJoin(#strings.listSubstringAfter(pList,'o'),' &amp; ')}">[empty]</span></p>
	</body>

</html>

<!--

		<p>Joined list of strings: <span>Bonjour tout le monde! and Hello world! and Hola mundo! and Kaixo mundua!</span></p>
		<p>Another joined list of strings: <span>njour tout le monde! &amp;  world! &amp; la mundo! &amp;  mundua!</span></p>

-->