<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<title>Dates example 11</title>
	</head>
	<script th:remove="all" type="text/javascript" src="${thInstall}/thymol.js" data-thymol-load="dates-data.js"></script>
	
  	<body>
		<p th:text="${#dates.dayOfWeekNameShort(date0)}">...</p>
		<p th:text="${#dates.dayOfWeekNameShort(date1)}">...</p>
		<p th:text="${#dates.dayOfWeekNameShort(date2)}">...</p>
		<p th:text="${#dates.dayOfWeekNameShort(date3)}">...</p>
		<p th:text="${#dates.dayOfWeekNameShort(date4)}">...</p>
		<p>Array of days of week: <span><!--/*/<th:block th:each="d,dStat : ${#dates.arrayDayOfWeekNameShort(dateArray)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>		 
		<p>Set of days of week: <span id="sort"><!--/*/<th:block th:each="d,dStat : ${#dates.setDayOfWeekNameShort(dateSet)}" th:text="${!dStat.last}?(${d}+','):${d}"></th:block>/*/--></span></p>
	</body>

</html>

<!--

<p>1732-12/10</p>

-->